player-connection-mode=Listen
player-connection-guid=76860116
player-connection-debug=0
player-connection-project-name=Observer
player-connection-ip=169.254.123.226
player-connection-ip=192.168.219.102
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c73c1a41c0be488dabffb559b157b25d
